<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="ui large top fixed inverted menu">
    <div class="ui container">
        <a href="{% url 'index' %}" class="item">Return to Visualization Panel</a>
        {% if request.user.is_staff %}
           <a href="{% url 'admin' %}" class="item">Admin Platform</a>
        {% endif %}
    </div>

<!--
    {% if user.is_authenticated %}
    <div class="ui item">
        您好，<em>{{login_user.name}}</em>
        <span>|</span>
        <a class="ui item" href="{% url 'logout' %}">
        登出
        </a>
    </div>
    {% else %}
    <div class="right menu">
        <div class="ui item">
            <a href="{% url 'login' %}" class="item">登录</a>
            <span>|</span>
            <a href="{% url 'register' %}" class="item">注册</a>
        </div>
    </div>
    {% endif %}!-->
</div>
</body>
</html>